<div class="modal-add modal">
    <div class="modal-content-add">
        <span class="close-button-add">×</span>
        <h1 class="modal-title">Add Food</h1>
        <div class="modal-container">
            <div class="nutrients-tab">
                <div class="search-image">
                    <h2>Search for Food</h2>
                    <img src="../icons/Search engines.gif" alt="search">
                </div>
                <div class="container-left">
                    <div class="nutrient-container"></div>
                    <div class="nutrient-container"></div>
                </div>
            </div>
            <div class="edit">
                    <form action="/diary/<%= foodDiary.date %>" class="search-box" id="search-form">
                      <input class="search-input" type="text" name="food" placeholder="Apple" id="search" autocomplete="off">
                      <button class="search-button" href="#">
                        <i class="search-icon">&#8981;</i>
                      </button>
                    </form>
                <form action="/diary" method="POST" class="servings hidden">
                    <input type="hidden" name="foodDiary[foodName]" id="food-name" required>
                    <input type="hidden" name="foodDiary[calories]" id="calories" required>
                    <input type="hidden" name="foodDiary[servingSize]" id="serving-size" value="100g" required>
                    <input type="hidden" name="foodDiary[fdcId]" id="food-id" required>
                    <input type="hidden" name="foodDiary[date]" id="date" value="<%= foodDiary.date %>">
                    <div>
                        <select name="foodDiary[meal]" id="meal">
                            <option value="breakfast">Breakfast</option>
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner</option>
                            <option value="snack">Snack</option>
                        </select>
                    </div>
                    <label for="food-portion">Serving Size</label>
                    <select name="foodDiary[grams]" id="food-portion"></select>
                    <div class="amount">
                        <label for="amount">Number of Servings</label>
                        <input type="number" name="foodDiary[amount]" id="amount" value="1" min="0" step=".01" required>
                    </div>
                    <button class="button-two">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="diary">
        <div class="diary-container">
            <h1 class="diary-title"><span class="date"><%= foodDiary.date %></span></h1>
            <div class="container">
                <div class="date-div">
                    <button class="previous arrow "><span class="material-icons arrow-span">arrow_back</span></button>
                    <input type="date" name="date-selector" id="date-selector" value="<%= foodDiary.date %>">
                    <button class="next arrow"><span class="material-icons arrow-span ">arrow_forward</span></button>
                </div>
            <div class="wrapper">
                <div class="diary-item">
                    <h2>Breakfast</h2>
                <% for(food of foodDiary.food.breakfast) { %> 
                    <div class="flex">
                        <div class="food">
                            <a href="/diary/<%= foodDiary.date%>/breakfast/<%= food._id %>" class="edit-button"><p class="food-name"><%= food.foodName %></p></a>
                            <p class="servings"><%= food.servingSize %> (<%= food.amount %> <%= food.amount > 1 ? "servings" : "serving" %>)</p>
                        </div>
                        <div class="food-options">
                            <p class="calories"><%= food.calories %> kcal</p>
                            <form action="/diary/<%= foodDiary.date %>/breakfast/<%= food._id %>?_method=DELETE" method="post" class="remove"><button class="btn fa fa-close"></button></form>
                        </div>
                    </div>
                <% } %> 
                    <button class="trigger" value="breakfast">Add Food</button>
                </div>
                <div class="diary-item">
                <h2>Lunch</h2>
                <% for(food of foodDiary.food.lunch) { %> 
                    <div class="flex">
                        <div class="food">
                            <a href="/diary/<%= foodDiary.date%>/lunch/<%= food._id %>" class="edit-button"><p class="food-name"><%= food.foodName %></p></a>
                            <p class="servings"><%= food.servingSize %> (<%= food.amount %> <%= food.amount > 1 ? "servings" : "serving" %>)</p>
                        </div>
                        <div class="food-options">
                            <p class="calories"><%= food.calories %> kcal</p>
                            <form action="/diary/<%= foodDiary.date %>/lunch/<%= food._id %>?_method=DELETE" method="post" class="remove"><button class="btn fa fa-close"></button></form>
                        </div>
                    </div>
                <% } %> 
                <button class="trigger" value="lunch">Add Food</button>
                </div>
            </div>
            <div class="wrapper">
                <div class="diary-item">
                    <h2>Dinner</h2>
                    <% for(food of foodDiary.food.dinner) { %> 
                        <div class="flex">
                            <div class="food">
                                <a href="/diary/<%= foodDiary.date%>/dinner/<%= food._id %>" class="edit-button"><p class="food-name"><%= food.foodName %></p></a>
                                <p class="servings"><%= food.servingSize %> (<%= food.amount %> <%= food.amount > 1 ? "servings" : "serving" %>)</p>
                            </div>
                            <div class="food-options">
                                <p class="calories"><%= food.calories %>kcal</p>
                                <form action="/diary/<%= foodDiary.date %>/dinner/<%= food._id %>?_method=DELETE" method="post" class="remove"><button class="btn fa fa-close"></button></form>
                            </div>
                        </div>
                    <% } %> 
                    <button class="trigger" value="dinner">Add Food</button>
                    </div>
                    <div class="diary-item">
                    <h2>Snacks</h2>
                    <% for(food of foodDiary.food.snack) { %> 
                        <div class="flex">
                            <div class="food">
                                <a href="/diary/<%= foodDiary.date%>/snack/<%= food._id %>" class="edit-button"><p class="food-name"><%= food.foodName %></p></a>
                                <p class="servings"><%= food.servingSize %> (<%= food.amount %> <%= food.amount > 1 ? "servings" : "serving" %>)</p>
                            </div>
                            <div class="food-options">
                                <p class="calories"><%= food.calories %>kcal</p>
                                <form action="/diary/<%= foodDiary.date %>/snack/<%= food._id %>?_method=DELETE" method="post" class="remove"><button class="btn fa fa-close"></button></form>
                            </div>
                        </div>
                    <% } %> 
                    <button class="trigger" value="snack">Add Food</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="\js\edit.js"></script>