<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@350;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include("./partials/header") %> 
    <main>
        <div class="container">
            <div class="error-container">
                <h1 class="error-title">Something Went Wrong :(</h1>
                <!-- <p class="error-status">Error Status </p> -->
                <% if(message) { %> 
                    <p class="error-msg"><%= err.statusCode %> <%= message %></p>
                <% } else { %> 
                    <p class="error-msg"><%= err.statusCode %> <%= err %></p>
                <% } %>
            </div>
            <a href="/" class="link">Back to Home</a>
            <img src="https://res.cloudinary.com/domad5jvw/image/upload/v1653236743/FitnessHub/Not_Found_h0pndg.png" alt="">
        </div>
    </main>
</body>
</html>