<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title><%= data.foods[0].description %></title>
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/partials/header.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@350;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/foods/show.css">
</head>
<body class="preload">
  <%- include("../partials/header") %> 
  <%- include("../partials/flash") %> 
  <main>
      <div class="wrapper">
        <div class="title-container">
          <h1 class="title"><%= data.foods[0].description %></h1>
          <h2 class="category"><%= data.foods[0].foodCategory %></h2>
        </div>
    <form action="/food/<%= data.foods[0].fdcId %>" method="POST">
      <input type="hidden" name="foodDiary[foodName]" id="food-name" value="<%= data.foods[0].description %>" required>
      <input type="hidden" name="foodDiary[calories]" id="calories" value="<%= data.foods[0].foodNutrients[3].value %>" required>
      <input type="hidden" name="foodDiary[servingSize]" id="serving-size" value="100g" required>
      <input type="hidden" name="foodDiary[fdcId]" id="food-id" value="<%= data.foods[0].fdcId %>" required>
      <div class="ss-container">
        <label for="food-portion">Serving Size </label>
        <select name="foodDiary[grams]">
          <option value="100">100g</option>
          <% for(let i = 0; i < data.foods[0].foodMeasures.length - 1; i++) { %> 
            <option value="<%= data.foods[0].foodMeasures[i].gramWeight %>"><%= data.foods[0].foodMeasures[i].disseminationText %></option>
          <% } %> 
        </select>
      </div>
      <div class="amount">
        <label for="amount">Number of Servings </label>
        <input type="number" name="foodDiary[amount]" id="amount" value="1" min="0" max="1000" step="0.1" required>
      </div>
      <div class="center">
        <% if(currentUser) { %> 
        <input type="date" name="foodDiary[date]" id="date-picker" min="2021-01-01" required>
          <select name="foodDiary[meal]">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="snack">Snack</option>
          </select>
        <button class="button">Log Food</button>
        <% } %> 
      </div>
      </form>
        <div class="container">
          <div class="nutrient-container">
            <% for (let i = 0; i < 9; i++) { %> 
              <p class="item">
                <%= arrayNames[i] %> 
                <span><span class="nutrients"><%= Math.round(data.foods[0].foodNutrients[arrayPosition[i]].value)%></span> <span><%= data.foods[0].foodNutrients[arrayPosition[i]].unitName.toLowerCase() %></span></span></p>
            <% } %> 
          </div>
          <div class="nutrient-container">
            <% for (let i = 9; i < 16; i++) { %> 
              <p class="item">
                <%= arrayNames[i] %> 
                <span><span class="nutrients"><%= Math.round(data.foods[0].foodNutrients[arrayPosition[i]].value)%></span> <span><%= data.foods[0].foodNutrients[arrayPosition[i]].unitName.toLowerCase() %></span></span></p>
            <% } %> 
            <% if(!currentUser) { %> 
            <form action="/food/<%= data.foods[0].fdcId %>" method="POST">
              <button class="button margin">Log Food</button>
            </form>
            <% } %> 
          </div>
        </div>
      </div>
  </main>
    <script src="\js\food.js"></script>
    <script src="/js/animation.js"></script>
</body>
</html>