<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="/css/partials/header.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@350;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/recipe/new.css">
</head>
<body>
    <%- include("../partials/header") %> 
    <%- include("../partials/flash") %> 
    <main>
        <div class="container-main">
            <a class="link" href="/recipes/<%= recipe._id %>">Back</a>
            <div class="form-container">
                <h1>Edit Recipe</h1>
                <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-item">
                        <label for="title">Recipe Name</label>
                        <input id="title" type="text" name ="recipe[title]" placeholder="ex. Apple Pie" autocorrect="off" autocomplete="off" value="<%= recipe.title %>" required >
                    </div>
                    <div class="form-item">
                        <label for="img">Image</label>
                        <!-- <input id="img" type="img" name="recipe[image]" placeholder="img.com/1235.png" autocomplete="off" value="<%= recipe.image %>" required > -->
                        <input type="file" name="image" id="img">
                    </div>
                    <div class="form-item">
                        <label for="ingredients">Ingredients:</label>
                        <textarea name="recipe[ingredients]" id="ingredients" cols="30" rows="10" required><%= recipe.ingredients %></textarea>
                    </div>
                    <div class="form-item">
                        <label for="body">Directions:</label>
                        <textarea name="recipe[body]" id="body" cols="75" rows="20" autocomplete="off" placeholder="Ingredients &#x0a;&#x0a;1. 1 large egg &#x0a;2. 14 tbs butter &#x0a;3."  onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" required><%= recipe.body %></textarea>
                    </div>
                    <button>Update</button>
                    <a href="/recipes/<%= recipe._id %>">Cancel</a>
                </form>
            </div>
        </div>
    </main>
</body>
</html>