<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../css/partials/header.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@350;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/recipe/index.css">
</head>
<body>
    <%- include("../partials/header") %> 
    <%- include("../partials/flash") %> 
    <main>
        <div class="container-main">
                <h1 class="title">Recipes</h1>
                <a href="/recipes/new">Post Recipe</a>
            <div class="post">
                    <% for (let recipe of recipes) {%>
                        <figure class="recipe">
                                <img class="thumbnail" src="<%= recipe.image.thumbnail %>" alt="">
                                <h2><%= recipe.title %></h2>
                                <a class="link" href="/recipes/<%= recipe._id %>">View Recipe</a>
                        </figure>
                    <% } %>
                    <div class="recipe-spacer"></div>
            </div>    
        </div>
    </main>
</body>
</html>