<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.title %></title>
    <link rel="stylesheet" href="../css/partials/header.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@350;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/recipe/show.css">
</head>
<body>
    <%- include("../partials/header") %> 
    <%- include("../partials/flash") %> 
    <main>
        <div class="container-main">
            <a class="link" href="/recipes">Back</a>
            <div class="post">
                <h1 class="post-title"><%= recipe.title %></h1>
                <img class="post-image" src="<%= recipe.image %>" alt="">
                <div class="post-main">
                    <h2 class="recipe-title"><%= recipe.title %></h2>
                        <div class="ingredients-div">
                            <h2 class="recipe-subtitle">Ingredients</h2>
                             <% for(let ingredient of ingredients) { %> 
                             <li class="post-ingredients"><%= ingredient %></li>
                             <% } %> 
                        </div>
                        <div class="directions-div">
                            <h2 class="recipe-subtitle">Directions</h2>
                            <p class="post-directions" id="just-line-break"><%= recipe.body %></p>
                        </div>
                    </div>
                <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
            </div>
            <div class="comments-div">
                <h2 class="comments-title">Comments</h2>
                <form class="comments-form" action="/recipes/<%= recipe._id %>/comments" method="POST">
                    <textarea name="comment[body]" id="comment" cols="90" rows="3" placeholder="Leave a Comment..." required></textarea>
                    <button class="button">Comment</button>
                </form>
                <% for(let comment of recipe.comments) { %> 
                    <div class="comment">
                        <p class="comment-body"><%= comment.body %></p>
                        <form action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="button button-delete">Delete</button>
                        </form>
                    </div>
                <% } %> 
            </div>
        </div>
    </main>
</body>
</html>